{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
	Proposition événement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/event.css') }}" rel="stylesheet">
{% endblock %}

{% block ocplatform_body %}
<br />
<h1>Ajouter l'événement :</h1>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
{{ form_start(form) }}
	<p>{{ form_row(form.nom, {'attr':{'class':'form-control', 'placeholder':'Sortie curling'}})}}</p>
    <p>{{ form_row(form.dateDebut)}}</p>
    <p>{{ form_row(form.prix, {'attr':{'class':'form-control', 'placeholder':'0'}})}}</p>
    <p>{{ form_row(form.repetition, {'attr':{'class':'form-control', 'placeholder':'0'}})}}</p>
    <p>{{ form_row(form.description, {'attr':{'class':'form-control',  'placeholder':'Super évènement à Paris, venez nombreux!'}})}}</p>
    <p>{{ form_row(form.cheminImage, {'attr':{'class':'form-control',  'placeholder':'adresse url'}})}}</p>
    <button type="submit" class="btn btn-primary btn-lg float-right"> Publier</button>
{{ form_end(form) }}
</div>
</div>

{% endblock %}