{# src/EX/GrumpyWebBundle/Resources/views/Forum/view_idee.html.twig #}

{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
  Boutique - {{ parent() }}
{% endblock %}

 {% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/boutique.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css">
 {% endblock %}

{% block ocplatform_body %}

<div class="row">
	<div class="col-md-3">
		<h1 class="titre">La Boutique</h1>
		<div class="liste-group">
			<a href="#" class="list-group-item active"><i class="fas fa-shopping-basket"></i> Mon panier</a>
			<span class="list-group-item">Filtrer par catégorie:</span>
		</div>

		<form>
			<div class="form-group">
				<input type="search" id="recherche" class="form-control ui-widget" placeholder="Recherche">
			</div>
		</form>
	</div>
	<div class="col-md-9">
		<h4 id="best">Nos best-sellers :</h4>
		<div class="row">
			<div class="col-md-4">
				<div class="card h-100">
					<a href="#"><img class="card-img-top" src="{{asset('img/produit.png') }}" alt></a>
					<div class="card-body">
						<h4 class="card-title"><a href="#">Produit 1</a></h4>
						<h5>
							Prix
						</h5>
						<p class="card-text">
							Descrption du produit
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100">
					<a href="#"><img class="card-img-top" src="{{asset('img/produit.png') }}" alt></a>
					<div class="card-body">
						<h4 class="card-title"><a href="#">Produit 2</a></h4>
						<h5>
							Prix
						</h5>
						<p class="card-text">
							Descrption du produit
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100">
					<a href="#"><img class="card-img-top" src="{{asset('img/produit.png') }}" alt></a>
					<div class="card-body">
						<h4 class="card-title"><a href="#">Produit 3</a></h4>
						<h5>
							Prix
						</h5>
						<p class="card-text">
							Descrption du produit
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-9">
		<h4 id="less">Tous les produits :</h4>
		<div class="row" id="all_prods">
			{% for product in products %}
			<div class="col-md-4">
				<div class="card h-100">
					<a href="{{ path('ex_grumpy_view_product', {'product_id': product.id}) }}"><img class="card-img-top" src="{{asset('img/produit.png') }}" alt="produit"></a>
					<div class="card-body">
						<h4 class="card-title"><a href="{{ path('ex_grumpy_view_product', {'product_id': product.id}) }}">{{ product.name }}</a></h4>
						<h5>
							{{ product.price }}
						</h5>
						<p class="card-text">
							{{ product.description }}
							<br />
							<span class="cat">{{ product.category }}</span>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  var x = $("#all_prods .card");
  var input = $("#recherche");
  var list = $(".liste-group");
  var all_names = [];
  var all_cats = [];

  // Fill names and categories
  x.each(function(){
	all_names.push($(this).find('.card-title').text());
	all_cats.push($(this).find('.cat').text());
  });

  // Filter names and categories to have unique values only
  all_names = $.unique(all_names);
  all_cats = $.unique(all_cats);

  // Fill the categories list on the page
  $(all_cats).each(function(i, e){
  	list.append('<a href="#" class="list-group-item">' + e + '</a>');
  	list.find('a').last().click(function(){
  		curr_sel = $('.list-group-item-primary');
  		if (curr_sel != null) {
  			if ($(curr_sel).text() != $(this).text()) {
  				$(curr_sel).toggleClass('list-group-item-primary');
  			}
  			else {
  				// On a déséléctionné la catégorie active
  				$(this).toggleClass('list-group-item-primary');
  				x.each(function(){
  					$(this).parent().show();
  				});
  				return;
  			}
  		}

  		$(this).toggleClass('list-group-item-primary');
  		input.val("");
  		var cat_filter = $(this).text();

	  	x.each(function(){
	  		cat = $(this).find('.cat').text();
	  		$(this).parent().hide();
	  		if(cat === cat_filter) {
	  			$(this).parent().show();
	  		}
	  	});
  	});
  });

  // Enable autocompletion
  $( function() {
    input.autocomplete({
      source: all_names
    });
  });

  // Enable results adjustments 
  input.on('input', () => {
  	txt = input.val().toLowerCase();
  	x.each(function(){
  		cat_sel = $('.list-group-item-primary');
  		if (cat_sel != null) {
  			$(cat_sel).toggleClass('list-group-item-primary');
  		}

  		title = $(this).find('.card-title').text().toLowerCase();
  		$(this).parent().hide();
  		if(title.includes(txt)) {
  			$(this).parent().show();
  		}
  	});
  });

  </script>
{% endblock %}