{# src/EX/GrumpyWebBundle/Resources/views/Forum/view_event.html.twig #}

{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
  {{ name }} - {{ parent() }}
{% endblock %}

 {% block stylesheets %}
	{{parent()}}
	<link href="{{ asset('css/produit.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
 {% endblock %}

{% block ocplatform_body %}

<div class="row">
	<div class="col-md-3">
    <h1 class="titre">La Boutique</h1>
    <div class="liste-group">
      <a href="#" class="list-group-item active"><i class="fas fa-shopping-basket"></i> Mon panier</a>
      <a href="{{ path('ex_grumpy_view_products') }}" class="list-group-item"><i class="fas fa-arrow-alt-circle-left"></i> Retour à la boutique</a>
    </div>
  </div>
	<div class="col-md-9">
		<div class="card mt-4">
			<img class="image" alt="product" src="{{asset('img/produit.png') }}" />
			<div class="card-body">
  				<h2>{{ name }}</h2>
  				<h5>Prix : {{ price }}</h5>
  				<p>{{ description }}</p>
  				<a href="{{ path('ex_grumpy_add_to_panier', {'product_id': id}) }}" class="btn btn-primary active">Ajouter au Panier</a>
  			</div>
  		</div>
	</div>
</div>
{% endblock %}