{# src/EX/GrumpyWebBundle/Resources/views/Forum/view_event.html.twig #}

{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
  {{ title }} - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>{{ title }}</h2>
  {{ description }} <br />
  prix {{ price }} <br />
  commence le {{ start_date|date('Y-m-d') }} <br />
  repetition {{ repetition }}<br />
  statut {{ statut }} <br />
  <img alt="event" src="{{ chemin_image }}" />
  {% if is_subscribed == true %}
  	Vous êtes inscrit à l'évènement
  {% else %}
  	<a href="{{ path('ex_grumpy_subscribe', {'event_id': event_id}) }}">S'inscrire à l'évènement</a>
  {% endif %}
{% endblock %}