{# src/EX/GrumpyWebBundle/Resources/views/Forum/view_event.html.twig #}

{% extends "@EXGrumpy/layout.html.twig" %}

{% block title %}
  Evénements - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{parent()}}
    <link href="{{ asset('css/event.css') }}" rel="stylesheet">
{% endblock %}

{% block ocplatform_body %}

<!--Heading -->
<h1 class="my-4" id="titre">{{ title }}
  <h2>
    <small>Ajoute tes photos !</small>
  </h2>
  <hr>
</h1>

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-5">
    <img class="img-fluid" src="{{ chemin_image }}" alt="soiree">
  </div>

  <div class="col-md-7">
    <h3 class="my-3">Description :</h3>
    <p>
      {{ description }}
    </p>
    <p>
      Participation: {{ price }} €
    </p>
    <p>
      Commence le: {{ start_date|date('Y-m-d') }}
    </p>
    <p>
      Statut de l'event: {{ statut }}
    </p>
    <p>
      Fréquence de l'évènement: {{ repetition }}
    </p>
  </div>

</div>
<!-- /.row -->

<hr />

<!-- Related Projects Row -->
<div class="row">
  <h3 class="my-4 col-md-12">
    Réagir
  </h3>
  <div>
    <a class="btn btn-primary" href="#">Ajoute ta photo</a>
    <a class="btn btn-primary" href="#">Commente l'évènement</a>
    <a class="btn btn-primary" href="#">LIKE</a>
    {% if is_subscribed == true %}
      <a class="btn btn-primary" href="#">Vous êtes inscrit!</a>
    {% else %}
      <a class="btn btn-primary" href="{{ path('ex_grumpy_subscribe', {'event_id': event_id}) }}">S'inscrire à l'évènement</a>
    {% endif %}
  </div>
</div>
<!-- /.row -->

<hr />

<!-- Commentaires -->

<div class="row">
  <h3 class="my-4 col-md-12"> Commentaires et photos: </h3>

  {% for commentaire in commentaires %}
    {{commentaire.poster_name}}: {{commentaire.contenu}}
    <br />
  {% endfor %}
</div>
{% endblock %}